.work_container {
  width: 100vw;
  height: 100vh;
  position: relative
}

.work_wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.transition_work {
  color: #f11b9b;
}

.work_title_wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.work_title {
  color: #FFFFFF;
  margin: 0px;
  font-size: 15vw;
}

.work_text {
  color: #FFFFFF;
}

.col_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.col {
  width: 10%;
  height: 100%;
}

.col:hover .work{
  display: block!important;
}

.close {
  display: none;
}

.work_1 {
  position: absolute;
  top: 24%;
  left: 21%;
  width: 45%;
}

.work_1 img{
  width: 100%;
}

.work_2 {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 30%;
}

.work_2 img {
  width: 100%;
}

.work_3 {
  position: absolute;
  top: 13%;
  right: 35%;
  width: 50%;
}

.work_3 img {
  width: 100%;
}

.work_4 {
  position: absolute;
  bottom: 32%;
  left: 40%;
  width: 30%;
}

.work_4 img {
  width: 100%;
}

.work_5 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.video_wrapper {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video_wrapper video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.work_6 {
  position: absolute;
  top: 12%;
  right: 9%;
  width: 45%;
}

.work_6 img {
  width: 100%;
}

.work_7 {
  position: absolute;
  bottom: 22%;
  left: 11%;
  width: 50%;
}

.work_7 img {
  width: 100%;
}

.work_8 {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 26%;
}

.work_8 img {
  width: 100%;
}

.work_9 {
  position: absolute;
  bottom: 15%;
  left: 45%;
  width: 45%;
}

.work_9 img {
  width: 100%;
}

.work_10 {
  position: absolute;
  top: 35%;
  right: 30%;
  width: 30%;
}

.work_10 img {
  width: 100%;
}

.work_play_btn {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #a4ff8a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.work_btn_text {
  margin: 0px 0px;
  font-size: 12px;
  color: #2d2d2d;
}

.work_btn_title {
  margin: 2px 0px;
  font-size: 22px;
  color: #2d2d2d;
}

footer {
  position: absolute;
  bottom: 0;
}



@media (min-width: 1031px) {
  .work_play_btn {
    display: none; 
  }
}
@media (max-width: 1030px) {
  .work_text {
    display: none;
  }

  .work {
    bottom: auto!important;
    right: auto!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
  }

  .work_1 {
    width: 70%;
  }

  .work_2 {
    width: 55%;
  }

  .work_3 {
    width: 80%;
  }

  .work_4 {
    width: 50%;
  }

  .work_5 {
    width: 100%;
  }

  .work_6 {
    width: 75%;
  }

  .work_7 {
    width: 80%;
  }

  .work_8 {
    width: 55%;
  }

  .work_9 {
    width: 80%;
  }

  .work_10 {
    width: 80%;
  }
}