.header_container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  position: relative;
}

.header_title {
  color: #FFFFFF;
  font-size: 25px;
}

.colored_s {
  color: #8ee85a;
}

.nav_pending {
  text-decoration: none;
  color: #ffffff;
}

.nav_active {
  text-decoration: none;
  color: #8ee85a;
}

.menu_container {
  width: 500px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9000;
}

.menu_open_btn {
  background-color: #ee4646;
  width: 90px;
  height: 35px;
  border-radius: 30px;
  position: absolute;
  right: 5%;
}

.menu_close_btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ee4646;
  color: #FFFFFF;
  font-size: 30px;
  position: absolute;
  top: 3%;
  left: 5%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  height: 25vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  z-index: 2;
}

.menu video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.open_menu {
  transform: translateX(0);
  animation: menu_in 1s ease-in-out forwards;
}

@keyframes menu_in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.close_menu {
  transform: translateX(100%);
  animation: menu_out 1s ease-in-out forwards;
}

@keyframes menu_out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%)
  }
}

.close {
  display: none;
}