.header_container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9997;
  background-color: black;
}

.header_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.header_title {
  color: #FFFFFF;
  font-size: 18px;
}

.colored_s {
  color: #8ee85a;
}

.nav_wrapper {
  display: flex;
  margin: 0;
}

.nav_wrapper li {
  list-style: none;
  margin-left: 15px;
  font-size: 18px;
}

.nav_pending {
  text-decoration: none;
  color: #ffffff;
}

.nav_active {
  text-decoration: none;
  color: #8ee85a;
}