.chat_wrapper {
  transform: translateX(-100%);
  background-color: rgb(149, 245, 39);
  color: #191919;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px 0px;
  width: 300px;
  position: fixed;
  z-index: 100;
  bottom: 10%;
  left: 5%;
  opacity: 0;
}

.chat_fade_in {
  animation: fade-in-animation 1s ease-in-out forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.chat_fade_out {
  opacity: 1;
  animation: fade-out-animation 1s ease-in-out forwards;
}

@keyframes fade-out-animation {

  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media (max-width: 500px) {
  .chat_wrapper {
    padding: 10px 15px;
    margin: 10px 0px;
    width: 80%;
  }
}